body{
   background-color:#F7C1BB;
}

.Norm{
  border-color: #9E6475;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
}
.TB{
  size: 10px;
  border-style: solid;
  height: 5px;
  background-color: #45062E;
}
.Title{
  font-family: cursive;
}
h1{
  color: #9E6475;
}
h2{
  color: #9E6475;
}
h3{
  color: #9E6475;
}
